/* .grid-container {
  max-width: 1200px;
} */

.wrapper {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#ed5f47, #fe2d3b);
  height: 100vh;
  /* height: 100vh; this height code should come after the whole tutorial */
}

header {
  padding: 30px 0px;
}

header ul li {
  float: left;
  list-style: none;
}

header .logo img {
  height: 90px;
}

header ul.navigation {
  padding-left: 50px;
  box-sizing: border-box;
}

header ul.seperate {
  display: flex;
  justify-content: space-between;
}

header ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

header ul {
  margin-top: 40px;
}

header ul.navigation li {
  margin-right: 40px;
}

header ul.seperate li:nth-child(1) a {
  font-size: 24px;
  position: relative;
  bottom: 3px;
}

header ul.seperate li:nth-child(2) a {
  letter-spacing: 12px;
}

header ul.seperate li:nth-child(2) a span {
  font-size: 10px;
}

header ul.seperate li:nth-child(3) a {
  position: relative;
}

header ul.seperate li:nth-child(3) a span {
  position: relative;
  bottom: 30px;
  left: 60px;
  background-color: #1a1011;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: .7em;
}





/* ##############################################
##############################################
##############################################
##############################################
############################################## */


section {
  padding: 8em 0em 12em 0em;
}

section .display {
  height: 360px;
  position: relative;
  font-family: 'gotham';
  color: #fff;
  font-style: italic;
}

section .display h1 {
  text-transform: uppercase;
  font-size: 8.2em;
  font-weight: 800;
  letter-spacing: 6px;
  float: right;
}

section .display h1::before {
  content: "\" ";
  font-size: .15em;
  position: absolute;
  top: .8em;
  left: 4.5em;
}

section .display h1::after {
  content: "\" ";
  font-size: .15em;
  position: absolute;
  bottom: 4.3em;
  right: .7em;
}

section .display h2 {
  float: right;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  bottom: .3em;
  right: 1.5em;
}

section .display img {
  position: absolute;
  bottom: 2em;
  right: -1em;
  height: 25em;
  transform: rotate(-20deg);
}


/* ##############################################
##############################################
##############################################
##############################################
############################################## */


section .details {
  position: relative;
  left: 10%;
  z-index: 1;
}

section .details .brand {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

section .details .brand .brand-name h1 {
  text-transform: uppercase;
  padding-right: 20px;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #fff;
}

section .details .brand .rating ul li {
  float: left;
  list-style: none;
  color: yellow;
  margin-right: 3px;
  font-size: 1.3em;
}

section .details .brand .rating ul li:last-child {
  color: #fff;
}

section .details .product-details {
  width: 90%;
}

section .details .product-details .category {
  margin-bottom: 10px;
}

section .details .product-details a {
  color: #fff;
  text-transform: capitalize;
  font-size: .7em;
  text-decoration: none;
  display: block;
  font-family: 'Mada', sans-serif;
}

section .details .product-details .product-name h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: .5em;
  font-family: 'Montserrat', sans-serif;
}

section .details .product-details .product-description p {
  color: #fff;
  font-size: .8em;
  margin-bottom: 15px;
  font-family: 'Mada', sans-serif;
  line-height: 1.3em;
  width: 80%;
}

section .details .product-details .product-description ul {
  padding-left: 15px;
  margin-bottom: 1em;
}

section .details .product-details .product-description ul li {
  color: #fff;
  text-transform: capitalize;
  font-size: .8em;
  font-family: 'Mada', sans-serif;
  line-height: 1.3em;
}

section .details .product-details .product-description a {
  text-decoration: underline;
}

section .details .product-details .product-size-select {
  position: relative;
  margin: 20px 0px;
}

section .details .product-details .product-size-select i {
  color: yellow;
  position: absolute;
  top: 10px;
  font-size: 1em;
}

section .details .product-details .product-size-select select {
  padding: 10px 10px 10px 25px;
  border: none;
  -webkit-appearance: listbox;
  width: 100px;
  background: none;
  text-transform: uppercase;
  font-size: .8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

section .details .product-details .product-size-select select option {
  color: #fe2d3b;
  font-weight: 500;
}

section .details .product-btn-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section .details .product-btn-price button {
  margin-right: 40px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: .5em;
  letter-spacing: .3em;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

section .details .product-btn-price button:hover {
  background-color: #fff;
  color: #fe2d3b;
}

section .details .product-btn-price h1.price {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  letter-spacing: .1em;
}

.foot {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.foot img {
  height: 600px;
  position: relative;
  top: 17em;
}

.foot h1 {
  float: right;
  position: relative;
  top: 16.5em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  letter-spacing: .1em;
}





/* ##############################################
##############################################
##############################################
##############################################
############################################## */

/* color: #e1dee1; */



/* Media queries for tablet */

@media (max-width: 1024px) and (min-width: 768px) {

  section {
    padding: 8em 0em;
  }

  section .display h1 {
    font-size: 6em;
  }

  section .display img {
    bottom: 7em;
    right: -2em;
    height: 20em;
    transform: rotate(-18deg);
  }

  section .display h2 {
    font-size: 1.3em;
    right: 2em;
  }

  section .display h1::before {
    left: 1.5em;
  }

  section .display h1::after {
    bottom: 11em;
    right: 1em;
  }

  section .details {
    position: relative;
    bottom: 4em;
  }


}


/* Media queries for mobile */

@media (max-width: 767px) {

  header ul.seperate {
    display: block;
  }

  header ul li {
    float: right;
  }

  section {
    padding: 5em 0em;
  }

  section .display {
    height: 225px;
  }

  section .display h1 {
    font-size: 4.7em;
    letter-spacing: 0px;
    float: initial;
  }

  section .display img {
    bottom: 5em;
    right: -2em;
    height: 14em;
    transform: rotate(-15deg);
  }

  section .display h1::before {
    left: 0em;
    font-size: .3em;
    top: .3em;
  }

  section .display h1::after {
    bottom: 2.2em;
    right: 1em;
    font-size: .3em;
  }

  section .display h2 {
    bottom: 0em;
  }

  section .details {
    left: 0;
  }

  section .details .brand .brand-name h1 {
    font-size: 2em;
  }

  section .details .brand .rating ul li {
    font-size: 1em;
  }

}